.editor {
  padding-left: 30px;
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.content {
  font-size: 16px;
  height: 100%;
}

.chooseNote {
  margin: 20px;
}

.title,
.content {
  border: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
  resize: none;
}
