body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.root {
  display: flex;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}
